@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --text: #FFFFFF;
  --text-gray: #777777;
  --background: #121212;
  --glass: rgba(255, 255, 255, 0.06);
  --gradient-end: rgba(255, 255, 255, 0.2);
}